{% extends 'base.html' %}{% block title %}SCED Translator API{% endblock %}{% block content %}
<div id="app">
  <div class="row">
    <div class="col s6 offset-s3 card-panel">
      <h5>SCED code version 7.0 translator</h5>
      <p>Input a SCED code to translate to v7</p>
      <div class="input-field col s6">
        <p>
          <label for="sced_code">SCED Code</label>
          <input id="sced_code" type="text" v-model="scedCode">
        </p>
      </div>
    </div>
  </div>
  <transition name="fade">
    <table v-if="translatedCodes instanceof Array" class="striped" key="present">
      <thead>
        <th style="min-width:100px">SCED v7 Code</th>
        <th>Title</th>
        <th>Description</th>
        <th> Archived versions</th>
      </thead>
      <tbody>
        <tr v-for="code in translatedCodes">
          <td style="min-width:100px">
            <code>{{ code.sced_code }}</code>
          </td>
          <td>{{ code.course_title }}</td>
          <td>{{ code.course_description }}</td>
          <td>{{ code.archived_versions }}</td>
        </tr>
      </tbody>
    </table>
    <div v-else key="absent" class="row">
      <p class="col s3 offset-s3">{{ translatedCodes }}</p>
    </div>
  </transition>
</div>
<script type="text/javascript" src="%% url_for('static', filename='interface.js') %%">
</script> {% endblock %}
